<h2>Authors</h2>
<a href="/authors/new" class="cool-btn"><i class="fa fa-plus fa-lg"></i> Add an Author</a>
{{#each authors}}
  <section class="card">
    <div class="card-img">
      <img src="{{this.portrait_url}}" class="author-portrait">
    </div>
    <div class="card-detail">
      <b><a href="/authors/{{this.id}}">{{this.first_name}} {{this.last_name}}</a></b><br>
      <p>
        {{this.bio}}
      </p>
      <p>
        Books:
        <ul>
          {{#each this.books}}
            <li><a href="/books/{{book_id}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </p>
    </div>
  </section>
{{/each}}
