<h2>Edit {{book.title}}</h2>

<form action="/books/{{book.id}}/edit" method="POST">
  <label for="title">Title</label>
  <input id="title" name="title" value="{{book.title}}">
  <label for="genre">Genre</label>
  <select id="genre" name="genre_id">
    <option value="{{book.genre_id}}" selected>{{book.genre}}</option>
    <option value="" disabled>------</option>
    {{#each genres}}
        <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <label for="description">Description</label>
  <textarea name="description">{{book.description}}</textarea>
  <label for="cover_url">Cover Image URL</label>
  <input id="cover_url" name="cover_url" value={{book.cover_url}}>
  <input type="submit" value="Submit Updates">
</form>
