<h2>Books</h2>
<select id="genre-filter">
  <option value="" selected>Show All Genres</option>
  {{#each genres}}
      <option value="{{this.id}}">{{this.name}}</option>
  {{/each}}
</select>

<a href="/books/new" class="cool-btn"><i class="fa fa-plus fa-lg"></i> Add a Book</a>
{{#each books}}
<section class="card" data-tag="{{this.genre}}">
  <div class="card-img">
    <img src="{{this.cover_url}}">
  </div>
  <div class="card-detail">
    <b><a href="/books/{{this.id}}">{{this.title}}</a></b>
    {{#each this.authors}}
      <br><a href="/authors/{{author_id}}">{{first_name}} {{last_name}}</a>
    {{/each}}<br>
    <i>{{this.genre}}</i><br>
    {{this.description}}
  </div>
</section>
{{/each}}
