<h2>Books</h2>
{{#each books}}
<section class="books">
  <img src="{{this.cover_url}}" class="book-cover">
  <p>
    <b><a href="/books/{{this.id}}">{{this.title}}</a></b><br>
    {{#each this.authors}}
      {{first_name}} {{last_name}}
    {{/each}}<br>
    <i>{{this.genre}}</i><br>
    {{this.description}}
  </p>
</section>
{{/each}}
