<h2>Books</h2>
<a href="/books/new" class="cool-btn"><i class="fa fa-plus fa-lg"></i> Add a Book</a>
{{#each books}}
<section class="card">
  <div class="card-img">
    <img src="{{this.cover_url}}">
  </div>
  <div class="card-detail">
    <b><a href="/books/{{this.id}}">{{this.title}}</a></b><br>
    {{#each this.authors}}
      <a href="/authors/{{author_id}}">{{first_name}} {{last_name}}</a>
    {{/each}}<br>
    <i>{{this.genre}}</i><br>
    {{this.description}}
  </div>
</section>
{{/each}}
