<h2>Book: {{book.title}}</h2>
<a href="/books/{{book.id}}/edit" class="cool-btn"><i class="fa fa-pencil fa-lg"></i> Edit Book</a>
<a href="/books/{{book.id}}/delete" class="cool-btn"><i class="fa fa-remove fa-lg"></i> Delete Book</a>

<section class="card">
  <div class="card-img">
    <img src="{{book.cover_url}}">
  </div>
  <div class="card-detail">
    <b>{{book.title}}</b><br>
    {{#each authors}}
      <a href="/authors/{{this.author_id}}">{{this.first_name}} {{this.last_name}}</a>
    {{/each}}<br>
    <i>{{book.genre}}</i><br>
    <p>
      {{book.description}}
    </p>
  </div>
</section>
