<h2>Add a Book</h2>

<form action="/books/new" method="POST">
  <label for="title">Title</label>
  <input id="title" name="title">
  <label for="author_id">Author</label>
  (<a href="/authors/new">Click here</a> to add an author)
  <select id="author_id" name="author_id">
    <option value="" disabled selected>Choose an Author</option>
    {{#each authors}}
        <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
    {{/each}}
  </select>
  <label for="genre">Genre</label>
  <select id="genre" name="genre_id">
    <option value="" disabled selected>Choose a Genre</option>
    {{#each genres}}
        <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <label for="description">Description</label>
  <textarea name="description"></textarea>
  <label for="cover_url">Cover Image URL</label>
  <input id="cover_url" name="cover_url">
  <input type="submit" value="Add Book">
</form>
